.signlist {
    overflow-y: auto;
    /* padding: 2rem 0; */
}

.signlist a {
    text-decoration: none;
}

.temp-card {
    padding: 1rem 2rem;
    /* margin: 1rem; */
    box-shadow: var(--card-box-shadow); /* 0 2px 4px 0 rgba(0, 0, 0, 0.2);*/
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.temp-card:hover {
    box-shadow: var(--card-box-shadow); /* 0 4px 8px 0 rgba(0, 0, 0, 0.4);*/
}

.pagination {
    display: flex;
    flex-direction: row;
    min-height: 2rem;
    justify-content: space-evenly;
    padding: 0.5rem 0;
}

.pagination a {
    color: var(--main-text-color);
    cursor: pointer;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: var(--accent-color);
    color: var(--main-text-color);
}

.pagination a:hover:not(.active) {
    background-color: var(--secondary-color);
}

.pagination a {
    border-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
}

.pagination a {
    transition: background-color 0.3s;
}

.pagination a {
    border: 1px solid #ddd; /* Gray */
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a {
    /* font-size: 22px; */
}

.pad {
    padding: 0.5rem;
}

input {
    fill: red;
    -webkit-appearance: none; /* this removed the default styling */
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    /* appearance: red; */
}
