.sign {
    display: flex;
    flex-direction: column;
    width: min(95vw, 800px);
    height: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 0.5rem 0.5rem;
    /* box-sizing: border-box; */
}

.sign-phrase {
    text-align: center;
    font-weight: 700;
}

.alternate-video {
    display: block;
    flex-basis: 80%;
    height: auto;
    padding: 0.5rem;
    /* width: 80%; */
    margin: auto;
}

.sign-info {
    padding: 1rem 1rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    display: grid;
    /* align-items: flex-; */
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* background-color: aqua; */
}
@media screen and (max-width: 899px) {
    .properties {
        /* width: 900%; */
        margin: auto;
    }

    .property {
        /* margin: auto;
        width: 100%; */
        margin: 0.2rem 0.2rem;
    }
}

@media screen and (min-width: 900px) {
    .sign-info {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .properties {
        margin: auto;
        width: 80%;
    }

    .property {
        margin: auto;
        align-items: baseline;
        width: 80%;
        margin: 0.5rem 1rem;
    }
}
.sign-info-item {
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    /* flex-basis: 50%; */
    text-align: left;
    /* border: 1px solid black; */
    /* margin: auto; */
    /* box-shadow: var(--card-box-shadow); */
}

.handform-img {
    max-width: 40%;
    float: right;
    margin: auto;
}

.sign-info-item > h3 {
    /* padding: 0; */
    margin: 0.2rem 0;
}

.related-signs {
    justify-content: space-evenly;
    /* padding: 1rem 0; */
}

.center {
    text-align: center;
    margin: auto;
}

.small {
    width: min-content;
}
